In [53]:
import tensorflow as tf
import pandas as pd
import tensorflow.keras.layers as layers

In [54]:
dataset_path = tf.keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight', 'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
na_values = "?", comment='\t',sep=" ", skipinitialspace=True)
dataset = raw_dataset.copy()

In [55]:
dataset.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [56]:
dataset.isna().sum() # Calculate the number of missing values
dataset = dataset.dropna() # Drop missing value records
dataset.isna().sum() # Calculate the number of missing

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [57]:
origin = dataset.pop('Origin')
dataset['USA'] = (origin == 1)*1.0
dataset['Europe'] = (origin == 2)*1.0

In [58]:
dataset['Japan'] = (origin == 3)*1.0
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,USA,Europe,Japan
393,27.0,4,140.0,86.0,2790.0,15.6,82,1.0,0.0,0.0
394,44.0,4,97.0,52.0,2130.0,24.6,82,0.0,1.0,0.0
395,32.0,4,135.0,84.0,2295.0,11.6,82,1.0,0.0,0.0
396,28.0,4,120.0,79.0,2625.0,18.6,82,1.0,0.0,0.0
397,31.0,4,119.0,82.0,2720.0,19.4,82,1.0,0.0,0.0

In [59]:
train_dataset = dataset.sample(frac=0.8,random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [60]:
train_labels = train_dataset.pop('MPG')
test_labels = test_dataset.pop('MPG')

In [61]:
train_stats = train_dataset.describe()

train_stats = train_stats.transpose()

In [62]:
def norm(x): # minus mean and divide by std
 return (x - train_stats['mean']) / train_stats['std']
normed_train_data = norm(train_dataset)
normed_test_data = norm(test_dataset)

In [63]:
print(normed_train_data.shape,train_labels.shape)
print(normed_test_data.shape, test_labels.shape)

(314, 9) (314,)
(78, 9) (78,)

In [64]:
train_db = tf.data.Dataset.from_tensor_slices((normed_train_data.values, train_labels.values))
train_db = train_db.shuffle(100).batch(32)

In [65]:
class Network(tf.keras.Model):
 # regression network
 def __init__(self):
    super(Network, self).__init__()
 # create 3 fully-connected layers
    self.fc1 = layers.Dense(64, activation='relu')
    self.fc2 = layers.Dense(64, activation='relu')
    self.fc3 = layers.Dense(1)
 def call(self, inputs, training=None, mask=None):
 # pass through the 3 layers sequentially
    x = self.fc1(inputs)
    x = self.fc2(x)
    x = self.fc3(x)
    return x

In [66]:
model = Network()
model.build(input_shape=(4, 9))

In [67]:
model.summary()

Model: "network"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               multiple                  640

 dense_1 (Dense)             multiple                  4160

 dense_2 (Dense)             multiple                  65

=================================================================
Total params: 4,865
Trainable params: 4,865
Non-trainable params: 0
_________________________________________________________________

In [68]:
optimizer = tf.keras.optimizers.RMSprop(0.001)

In [70]:
for epoch in range(200): # 200 Epoch
 for step, (x,y) in enumerate(train_db): # Loop through training set once
 # Set gradient tape
    with tf.GradientTape() as tape:
        out = model(x) # Get network output
        loss = tf.reduce_mean(tf.keras.losses.MSE(y, out)) 
# Calculate MSE
        mae_loss = tf.reduce_mean(tf.keras.losses.MAE(y, out)) 
# Calculate MAE
    if step % 10 == 0: # Print training loss every 10 steps
        print(epoch, step, float(loss))
 # Calculate and update gradients
 grads = tape.gradient(loss, model.trainable_variables)
 optimizer.apply_gradients(zip(grads, model.trainable_variables))

0 0 665.4410400390625
1 0 632.283447265625
2 0 681.2919921875
3 0 600.387939453125
4 0 628.412109375
5 0 518.6058349609375
6 0 537.4845581054688
7 0 546.89306640625
8 0 530.9337768554688
9 0 515.596435546875
10 0 697.335693359375
11 0 606.0731811523438
12 0 545.90283203125
13 0 452.21246337890625
14 0 647.2406005859375
15 0 515.1156616210938
16 0 551.9862670898438
17 0 572.2100830078125
18 0 476.64654541015625
19 0 504.569580078125
20 0 415.70758056640625
21 0 453.50482177734375
22 0 504.2904968261719
23 0 506.0628662109375
24 0 465.39874267578125
25 0 480.8548278808594
26 0 333.3955078125
27 0 493.22454833984375
28 0 436.05035400390625
29 0 423.82806396484375
30 0 350.58648681640625
31 0 444.6851806640625
32 0 494.9124755859375
33 0 476.0270080566406
34 0 348.00103759765625
35 0 338.85870361328125
36 0 368.003662109375
37 0 393.74493408203125
38 0 301.124755859375
39 0 377.169677734375
40 0 435.079345703125
41 0 253.91513061523438
42 0 324.1486511230469
43 0 363.87054443359375
44 0 345.80010986328125
45 0 300.49981689453125
46 0 311.70758056640625
47 0 280.2631530761719
48 0 270.28082275390625
49 0 307.1124267578125
50 0 291.2013244628906
51 0 277.6707763671875
52 0 265.55914306640625
53 0 189.0838623046875
54 0 224.60104370117188
55 0 256.53759765625
56 0 224.50689697265625
57 0 181.4080352783203
58 0 248.79359436035156
59 0 246.42288208007812
60 0 203.25479125976562
61 0 198.7117919921875
62 0 169.04208374023438
63 0 156.49322509765625
64 0 256.66802978515625
65 0 171.69186401367188
66 0 162.98660278320312
67 0 152.83529663085938
68 0 188.48675537109375
69 0 150.65826416015625
70 0 186.09854125976562
71 0 164.18621826171875
72 0 184.33090209960938
73 0 140.38531494140625
74 0 184.43899536132812
75 0 151.81016540527344
76 0 197.72715759277344
77 0 159.433349609375
78 0 135.3203125
79 0 190.76573181152344
80 0 143.77476501464844
81 0 151.6154022216797
82 0 137.8323974609375
83 0 123.66592407226562
84 0 173.67820739746094
85 0 164.22488403320312
86 0 126.86786651611328
87 0 123.23823547363281
88 0 143.63577270507812
89 0 134.45962524414062
90 0 145.71597290039062
91 0 106.1505355834961
92 0 100.80521392822266
93 0 113.49005126953125
94 0 104.65060424804688
95 0 82.03608703613281
96 0 137.7667999267578
97 0 125.04834747314453
98 0 123.71781921386719
99 0 112.96736145019531
100 0 135.75511169433594
101 0 98.2793960571289
102 0 118.593017578125
103 0 149.10995483398438
104 0 113.90241241455078
105 0 111.66340637207031
106 0 129.894287109375
107 0 138.13363647460938
108 0 99.11185455322266
109 0 93.68704223632812
110 0 96.3619384765625
111 0 82.78938293457031
112 0 110.78335571289062
113 0 85.20907592773438
114 0 98.44740295410156
115 0 103.02793884277344
116 0 80.35490417480469
117 0 94.30506896972656
118 0 78.37885284423828
119 0 110.03448486328125
120 0 101.76341247558594
121 0 84.30396270751953
122 0 98.23472595214844
123 0 101.81932830810547
124 0 88.35317993164062
125 0 64.00969696044922
126 0 60.08157730102539
127 0 78.46963500976562
128 0 84.07109069824219
129 0 93.39405822753906
130 0 78.53092193603516
131 0 81.75650024414062
132 0 77.00634765625
133 0 91.04183197021484
134 0 83.9437255859375
135 0 88.66639709472656
136 0 85.9015884399414
137 0 98.48770141601562
138 0 72.01390075683594
139 0 64.2359848022461
140 0 60.75679397583008
141 0 91.41641235351562
142 0 72.39847564697266
143 0 98.06165313720703
144 0 67.43045806884766
145 0 98.76732635498047
146 0 76.49440002441406
147 0 112.84921264648438
148 0 73.9430160522461
149 0 59.145904541015625
150 0 80.5029296875
151 0 80.69084167480469
152 0 68.71209716796875
153 0 41.26814651489258
154 0 79.64777374267578
155 0 89.7743911743164
156 0 72.22581481933594
157 0 57.47334289550781
158 0 61.697837829589844
159 0 80.8204345703125
160 0 52.9954719543457
161 0 103.82662200927734
162 0 82.9241943359375
163 0 72.49655151367188
164 0 57.01871871948242
165 0 84.06507873535156
166 0 87.66851806640625
167 0 58.572731018066406
168 0 61.57609558105469
169 0 72.59622192382812
170 0 47.93885803222656
171 0 80.61906433105469
172 0 57.49189758300781
173 0 68.49504852294922
174 0 78.70796966552734
175 0 71.4822998046875
176 0 70.02529907226562
177 0 95.5609130859375
178 0 71.58724975585938
179 0 74.2142333984375
180 0 72.88395690917969
181 0 83.84799194335938
182 0 68.69679260253906
183 0 82.89927673339844
184 0 60.30298614501953
185 0 66.88294219970703
186 0 60.91210174560547
187 0 72.81301879882812
188 0 65.20768737792969
189 0 47.87127685546875
190 0 64.69068908691406
191 0 65.0854263305664
192 0 56.74858856201172
193 0 85.07347106933594
194 0 55.75550079345703
195 0 86.48674011230469
196 0 77.56993103027344
197 0 70.19418334960938
198 0 59.081085205078125
199 0 71.4627914428711